body {
    margin: 0;
    height: 100vh;
    background-image: url(//static.e7d.io/assets/e7d/logo-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
